.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}

.inputArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
}

.log-in-and-sign-up {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}